@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --base-color: #5e2829;
  --base-color-second: #7a3435;
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: #757575;
  --body-color: #fafafa;
  --body-dark-color: #f5f5f5;

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}

/* resets */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--title-font);
  height: 100%;
  width: 100vw;
}

/* nav */

#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: var(--body-color);
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  font-weight: 700;
  font-size: 1.32rem;
  color: #000;
}

.logo span {
  color: var(--base-color);
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-inline: 5rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  margin-right: 1rem;
}

.list li a {
  color: #000;
  transition: all 0.3 all;
}

.list li a:hover {
  color: var(--base-color);
}

.list a::after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #5e2829;

  position: relative;
  bottom: -1rem;
  left: 0;

  transition: all 0.3s ease;
}

.list li a:hover::after {
  width: 100%;
}

.icon-menu,
.icon-close {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  padding-left: 5rem;
}

.description {
  padding-left: 12rem;
  display: flex;

  flex-direction: column;
  gap: 2rem;
}

.description .subtitle {
  width: 55rem;
  opacity: 0.6;
  padding-right: 15rem;
  text-align: justify;
}

form {
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.fields {
  display: flex;
  height: 5rem;
  border: 3px solid #5e2829;
  max-width: 40rem;
  border-radius: 0.5rem;
  padding-right: 4rem;
}

.fields input {
  margin-top: 1rem;
  margin-right: 0.2rem;
  margin-left: 4rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 15rem;
  border: 3px solid #000;
  background-color: var(--base-color);
  cursor: pointer;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease;
}

.submit {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  border-color: var(--base-color);
  background-color: #fff;
  color: var(--base-color);
}

.dimension {
  display: flex;
  gap: 0.5rem;
}

.dimension input {
  height: 1.5rem;
  border: 2px solid #5e2829;
  border-radius: 0.3rem;
}

/* -====================== swiper -======================*/

.swiper {
  width: 120rem;
  height: 30rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.swiper img {
  height: 28rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.swiper figure {
  display: flex;
  flex-direction: column;
}

.swiper figcaption {
  align-self: center;
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}

/* -====================== media -======================== */

@media (max-width: 1000px) {
  h1 {
    text-align: center;
  }

  nav {
    padding-inline: 10%;
  }

  .list.show {
    background: var(--body-color);

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s all;
    font-size: 22px;
    place-content: center;
    transition: transform 300ms;
    transform: translateX(0);
  }

  .list.show li {
    margin-top: 4rem;
  }

  .list {
    display: none;
  }

  .icon-close,
  .icon-menu {
    color: var(--base-color);
    cursor: pointer;
    display: flex;
  }

  .icon-close {
    margin: 0;
    position: relative;
    left: 20rem;
    top: 1rem;
  }

  .content {
    margin-top: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }

  .swiper {
    width: 100%;
  }

  .description {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .description .subtitle {
    padding-right: 0;
    width: 80%;
  }

  .fields {
    font-size: 14px;
    display: flex;

    gap: 2rem;
    flex-direction: column;
    height: 15rem;
    border-color: #5e2829;
  }

  .dimension {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form p {
    text-align: center;
    width: 90%;
  }

  form .button {
    width: 15rem;
  }
}
